@-webkit-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background-color: black;
}

.four-oh-four {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 2;
  background-color: black;
  transition: opacity 300ms ease-out;
  background-position: center center;
  background-repeat: no-repeat;
}
.four-oh-four .dJAX_internal {
  opacity: 0;
}
.four-oh-four form,
.four-oh-four input {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
}

.terminal {
  position: relative;
  padding: 4rem;
}
.terminal .prompt {
  color: #1ff042;
  display: block;
  font-family: "AndaleMono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1;
  margin-bottom: 0.75em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#orange {
  color: #f39c12;
}
#red {
  color: red;
}
#white {
  color: white;
}
#blue {
  color: #48beef;
}

#comment {
  color: #7f8c8d;
}

#glitch {
  position: relative;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(8px, 9999px, 27px, 0);
  }
  5% {
    clip: rect(25px, 9999px, 83px, 0);
  }
  10% {
    clip: rect(26px, 9999px, 50px, 0);
  }
  15% {
    clip: rect(45px, 9999px, 1px, 0);
  }
  20% {
    clip: rect(86px, 9999px, 95px, 0);
  }
  25% {
    clip: rect(93px, 9999px, 21px, 0);
  }
  30% {
    clip: rect(82px, 9999px, 83px, 0);
  }
  35% {
    clip: rect(73px, 9999px, 83px, 0);
  }
  40% {
    clip: rect(2px, 9999px, 37px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 63px, 0);
  }
  50% {
    clip: rect(68px, 9999px, 80px, 0);
  }
  55% {
    clip: rect(64px, 9999px, 19px, 0);
  }
  60% {
    clip: rect(19px, 9999px, 64px, 0);
  }
  65% {
    clip: rect(46px, 9999px, 78px, 0);
  }
  70% {
    clip: rect(90px, 9999px, 8px, 0);
  }
  75% {
    clip: rect(59px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(8px, 9999px, 98px, 0);
  }
  85% {
    clip: rect(21px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(77px, 9999px, 65px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 80px, 0);
  }
  100% {
    clip: rect(14px, 9999px, 39px, 0);
  }
}
#glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 rgb(183, 0, 255);
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(9px, 9999px, 35px, 0);
  }
  5% {
    clip: rect(58px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(16px, 9999px, 38px, 0);
  }
  15% {
    clip: rect(3px, 9999px, 12px, 0);
  }
  20% {
    clip: rect(17px, 9999px, 43px, 0);
  }
  25% {
    clip: rect(32px, 9999px, 53px, 0);
  }
  30% {
    clip: rect(78px, 9999px, 74px, 0);
  }
  35% {
    clip: rect(66px, 9999px, 100px, 0);
  }
  40% {
    clip: rect(95px, 9999px, 9px, 0);
  }
  45% {
    clip: rect(76px, 9999px, 86px, 0);
  }
  50% {
    clip: rect(12px, 9999px, 45px, 0);
  }
  55% {
    clip: rect(77px, 9999px, 57px, 0);
  }
  60% {
    clip: rect(34px, 9999px, 12px, 0);
  }
  65% {
    clip: rect(15px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(5px, 9999px, 2px, 0);
  }
  75% {
    clip: rect(58px, 9999px, 88px, 0);
  }
  80% {
    clip: rect(12px, 9999px, 19px, 0);
  }
  85% {
    clip: rect(34px, 9999px, 85px, 0);
  }
  90% {
    clip: rect(54px, 9999px, 53px, 0);
  }
  95% {
    clip: rect(61px, 9999px, 18px, 0);
  }
  100% {
    clip: rect(10px, 9999px, 92px, 0);
  }
}
#glitch:before {
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 rgb(237, 255, 156);
  top: 0;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.terminal .prompt:before {
  content: "> ";
  display: inline-block;
  color: #1ff042;
}
.terminal .new-output {
  display: inline-block;
  color: #1ff042;
}
.terminal .new-output:after {
  display: inline-block;
  vertical-align: -0.15em;
  width: 0.75em;
  height: 1em;
  margin-left: 5px;
  background: #1ff042;
  box-shadow: 1px 1px 1px rgba(31, 240, 66, 0.65),
    -1px -1px 1px rgba(31, 240, 66, 0.65), 1px -1px 1px rgba(31, 240, 66, 0.65),
    -1px 1px 1px rgba(31, 240, 66, 0.65);
  -webkit-animation: cursor-blink 1.25s steps(1) infinite;
  -moz-animation: cursor-blink 1.25s steps(1) infinite;
  animation: cursor-blink 1.25s steps(1) infinite;
  content: "";
}

.kittens p {
  letter-spacing: 0;
  opacity: 0;
  line-height: 1rem;
}

.kitten-gif {
  margin: 20px;
  max-width: 300px;
}

.four-oh-four-form {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}
